// 颜色定义规范
$color-background: #fff;
$color-background-e: #f5f6f7;
$color-background-0: rgba(0, 0, 0, .4);

$color-theme: #673ab7;    // 主题色
$color-red: #f65458;    // 红包色
$color-sub-theme: #646464;

$color-text-3: #333;
$color-text-6: #666;
$color-text-9: #999;
